$color-white: #ffffff;
$color-black: black;
$color-light-grey: #ccc;
$color-dark-grey: #91a0b6;
$color-green: #04bf94;
$text-color-grey: #242424;
$block-green-color: rgba(4, 191, 148, 0.16);
$body-background-color: #e5e5e5;
$body-background-color-mobile: #f6f6f6;
$color-coral: #ed685c;
$text-light-grey-color: #adb8c8;
$text-descriprion: #78787a;
$color-line: #c4c4c4;
